.calendar-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 0.5rem;
  background-color: #3174ad;
  margin: 0.5rem 0;
  color: #fff;
  font-size: 18px;
}

.rbc-today {
  background-color: #38a3d1;
  color: aliceblue;
}
.rbc-today:hover {
  background-color: #70bee0;
  color: aliceblue;
}
.calendar-top-btn {
  padding: 8px;
  background-color: #fff;
  color: black;
  border: none;
  border-radius: 8px;
  font-size: 18px;
}
.calendar-top-btn:hover {
  background-color: rgb(232, 231, 231);
}

.modal-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal-content {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  width: 80%;
  max-width: 400px;
  overflow: hidden;
}

.modal-header {
  background-color: #3498db;
  color: #fff;
  padding: 10px;
  text-align: center;
}

.modal-header h2 {
  margin: 0;
}

.close {
  cursor: pointer;
}

.modal-body {
  padding: 20px;
}

.modal-label {
  font-weight: bold;
  margin-bottom: 5px;
}

input,
textarea {
  width: 100%;
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

button {
  background-color: #3498db;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #2980b9;
}

/* Media Query for responsiveness */
@media (max-width: 600px) {
  .modal-content {
    width: 90%;
  }
}
