.top-nav {
  background-color: #fff;
  padding: 10px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
  position: relative;
  color: black;
  margin: 1rem 0;
}

.hamburger-icon {
  background: none;
  border: none;
  font-size: 20px;
  cursor: pointer;
}

@media (max-width: 768px) {
  .top-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .hamburger-icon {
    order: 1;
  }
}

.top-nav-content {
  display: flex;
  justify-content: space-between;
}

@media (min-width: 768px) {
  .hamburger-icon {
    display: none;
  }
}
